* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s all;
}
.sections-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-inline: 5rem;
  margin-top: 5rem;
}
